#sample{
    width: 1900px;
    height: 900px;
    background-color: #F2F6FF;

}

#sample h1{
    position: absolute;
    margin-top: 135px;
    margin-left: 230px;
    font-size: 60px;
}

#text{
    /* text-align: left; */
    position: absolute;
    margin-top: -65px;
    margin-left: -75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: black
}



/* .text2{
   
    position: absolute;
    margin-top: -10px;
    margin-left: -155px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;

color: #000000;
} */



/**/
#ellipse2{
    position: absolute;
    width: 490px;
    height: 540px;
    margin-top: 130px;
    margin-left: 900px;
}
#ellipse1{
    margin-top: 175px;  
    width: 540px;
    height: 462px;
}

#rec-1{
    background-color: white;
    position: absolute;
    /* margin-top: 310px; */
     margin-top: 710px; 
    width: 1900px;
    margin-left: 1px;
    height: 200px;
}

.box{
    position: absolute;
    width: 1300px;
    height: 350px;
    margin-top: 455px;
    margin-left: 855px;
    transform: translate(-50%,-50%);
    /* background-color:#031B4F; */
    background-color: #031B4F;
    /* border: solid 2px #3B5998 ; */
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); */
    border-radius: 15px;
    background: #FFFFFF;
box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.content{
    text-align: left;
    font-family: "Bebas Neue";
}

#imgr21{
    position: absolute;
    width: 500px;
    height: 490px;
    margin-left: 445px;
    margin-top: -90px;
}
#imgr22{
    position: absolute;
    width: 580px;
    height: 580px;
    margin-left: 510px;
    margin-top: -5px;

}