#services h1{

 position: absolute;
 margin-left: 450px;
 margin-top: 40px;
 font-family: 'Bebas Neue', cursive;
 color: #031B4F;
 font-weight: 400px;
 font-size: 55px;
 line-height: 50px;
 letter-spacing: 0.15em;
}

#long1{
    position: absolute;
    background-color:#031B4F;
    margin-left: -800px;
    width: 150px;
    margin-top: -405px;
    height: 30px;

}
#long2{
    position: absolute;
    background-color:#031B4F;
    margin-left: -800px;
    width: 150px;
    margin-top: -205px;
    height: 30px;

}
.slant{
    position: absolute;
    margin-left: -900px;
    margin-top: -200px;
    width: 1920px;
}
 /* h1{
    text-align:center;
    color: #031B4F;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    margin-top: 130px;
    line-height: 60px;
    letter-spacing: 0.15em;
    */
 
 
.container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;

}

.image {
    display: block;  
    width: 258px;
    height: 235px;
    margin-right: -160px;
    margin-top: -105px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #ff946bbd;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .5s  ease-in-out;
    /* background-color: #008cba; */
}
.container:hover .overlay,.container:hover .overlayFade {
    opacity: 1;
}


.container:hover .overlayLeft ,.container:hover .overlayRight {
    width: 100%;
}

.overlayBottom{
    width: 0%;
    height: 0;
    bottom:0;
    left:5;
    /* background-color: #941e33; */
    border-radius: 8px;
}
.container:hover .overlayTop ,.container:hover .overlayBottom {
    height: 100%;
}

.whole{
    margin-top:-1150px;
    margin-left: 280px;

}

#team-img { 
    display: block;
    margin-top: -90px;
    margin-left: 55%;
    margin-right: auto;
    width: 37%; 
} 